.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.ventilador{
  top:-360px;
  position: relative;
  animation: App-logo-spin1 infinite 30s linear;

}
.App-logo {
  top:45px;

  left:-10px;
  animation: App-logo-spin infinite 2s linear;

  position:relative; 
  height: 350px;
  pointer-events: none;
  

  }

  .App-logo-media {
    top:45px;
  
    left:-10px;
    animation: App-logo-spin infinite 0.5s linear;
  
    position:relative; 
    height: 350px;
    pointer-events: none;
    
  
    }

    .App-logo-alta {
      top:45px;
    
      left:-10px;
      animation: App-logo-spin infinite 0.2s linear;
    
      position:relative; 
      height: 350px;
      pointer-events: none;
      
    
      }

      .botao{position:relative;
      top:-525px;
      left:15px;
    transform: rotate(6deg);
    background:#000;
    color: #fff;
    padding:3px;
    border:none; border-radius: 24px;
    outline: none;
  }

  .botao:active{background: #585858;}
